<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
  <a style="display:inline-block;"th:href="@{/showAddForm}"><h2><strong>Add Post</strong></h2></a>
  
  <!-- search -->
  <form  style="display:inline-block; margin-left:900px; "  action="/search"  method="get">
  	<input placeholder="search" name="search" type="text"></input>
  	<button  type="submit">Search</button>
  </form>
  
  <!-- sorting -->
  <form  style="display:inline-block; margin-left:900px; "  action="/getDataPagination"  method="get">
  	<select id="object" name="object">
  	  <option  name="Sort" value="1">Sort</option>
	  <option value="1" name="val">Old </option>
	  <option value="2" name="val">New </option>
	</select>
  	<button  type="submit">Sort</button>
  </form>
  		
  		<!-- Print post -->
    <div>
      <div th:each="obj: ${post}" style="height:200px; width:45%; margin-top:10px;display:inline-block;border-style:solid; padding:0 5px;">
			<h3 th:text="${obj.name}" />
			<p th:text="${obj.userBlog}" />
			<form action="/readData" method="post">
			 	<button type="submit" name="id" th:value="${obj.id}"><strong>Read</strong></button>
	    	</form>		
      </div >
    </div>
    
    <!-- Pagination -->

  <nav aria-label="Page navigation example">
	  <ul th:if="${value==2}" class="pagination">
	    <li class="page-item"><a th:href="@{/getDataPagination(pageNumber=${currentPage-1},object=${2})}"  class="page-link" >Previous</a></li>
	    <li class="page-item"><a th:href="@{/getDataPagination(pageNumber=${currentPage+1},object=${2})}"  class="page-link" >Next</a></li>
	  </ul>
	  
	   <ul th:if=" ${value==1}" class="pagination">
	    <li class="page-item"><a th:href="@{/getDataPagination(pageNumber=${currentPage-1},object=${2})}"  class="page-link" >Previous</a></li>
	    <li class="page-item"><a th:href="@{/getDataPagination(pageNumber=${currentPage+1},object=${2})}"  class="page-link" >Next</a></li>
	  </ul>
	  
	   <ul th:if=" ${value==0}" class="pagination">
	    <li class="page-item"><a th:href="@{/getDataPagination(pageNumber=${currentPage-1})}"  class="page-link" >Previous</a></li>
	    <li class="page-item"><a th:href="@{/getDataPagination(pageNumber=${currentPage+1})}"  class="page-link" >Next</a></li>
	  </ul>
</nav> 

  </body>
</html>
 ```